__pycache__/
*.py[cod]
.venv/
.env
.idea/
.pytest_cache/
Dockerfile
*.log
*.pot
*.pyc
.env.example
.env
.env
/.idea/inspectionProfiles
PLANNING.md
TASK.md
.idea/vcs.xml
.idea/modules.xml
app/database/infopalbot.db
app/database/infopalbot.db
