__pycache__/
*.py[cod]
.venv/
.idea/
.pytest_cache/
*.log
*.pot
.env.example
.env
# IDE-specific
.idea/inspectionProfiles
.idea/vcs.xml
.idea/modules.xml

# Generated artifacts
app/database/infopalbot.db
htmlcov/
.coverage
